*{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px
}

html {
    padding: 0px;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 150vh;
    justify-content: space-between;
    margin: 0;
    padding: 0px
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-weight: bold;
    align-items: center;
}

.top-container{
    flex: 1;
}

.top-center-container{
    flex: 1;
}

.bottom-center-container{
    flex: 1;
}

.bottom-container{
    flex: 1;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.right-links{
    display: flex;
    gap: 15px
}

