*{
    box-sizing: border-box;
    font-family: roboto;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 150vh;
    justify-content: space-between;
    margin: 0;
    padding: 0px
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: #E5E7EB
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-weight: bold;
    align-items: center;
}

.top-container{
    flex: 1;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}
.hero-main{
    font-size: 48px;
    font-weight: bolder;
}

.top-center-container{
    flex: 1;
}

.bottom-center-container{
    flex: 1;
}

.bottom-container{
    flex: 1;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.right-links{
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB

}

